{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Umowa</h1>

    {% if umowy %}
        <table id="umowa" class="table table-striped">
        <thead>
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Numer umowy:</td>
                <td>{{ umowy.getNrumowy() }}</td>
            </tr>
            <tr>
                <td>Wynajem od:</td>
                <td>{{ umowy.getWynajemod().format('d/m/y') }}</td>
            </tr>
            <tr>
                <td>Wynajem do:</td>
                <td>{{ umowy.getWynajemdo().format('d/m/y') }}</td>
            </tr>
            <tr>
                <td>Data zawrcia umowy:</td>
                <td>{{ umowy.getDatazawarciaumowy().format('d/m/y') }}</td>
            </tr>
            <tr>
                <td>Rodzaj umowy:</td>
                <td>{{ umowy.getRodzajumowy() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak umów do wyświetlenia</p>
    {% endif %}

    <h1>Lokator</h1>

    {% if lokatorzy %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PESEL:</td>
                <td>{{ lokatorzy.getPESEL() }}</td>
            </tr>
            <tr>
                <td>Imię:</td>
                <td>{{ lokatorzy.getImie() }}</td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>{{ lokatorzy.getNazwisko() }}</td>
            </tr>
            <tr>
                <td>Numer telefonu:</td>
                <td>{{ lokatorzy.getNrtelefonu() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ lokatorzy.getAdres() }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ lokatorzy.getEmail() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ lokatorzy.getRodzajosoby() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak lokatorów do wyświetlenia</p>
    {% endif %}

    <h1>Wynajmujący</h1>

    {% if wynajmujacy %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PESEL:</td>
                <td>{{ wynajmujacy.getPESEL() }}</td>
            </tr>
            <tr>
                <td>Imię:</td>
                <td>{{ wynajmujacy.getImie() }}</td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td>{{ wynajmujacy.getNazwisko() }}</td>
            </tr>
            <tr>
                <td>Numer telefonu:</td>
                <td>{{ wynajmujacy.getNrtelefonu() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ wynajmujacy.getAdres() }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ wynajmujacy.getEmail() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ wynajmujacy.getRodzajosoby() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak wynajjmujących do wyświetlenia</p>
    {% endif %}

    <h1>Obiekt najmu</h1>

    {% if obiektynajmu %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rodzaj obiektu:</td>
                <td>{{ obiektynajmu.getRodzajObiektu() }}</td>
            </tr>
            <tr>
                <td>Powierzchnia:</td>
                <td>{{ obiektynajmu.getPowierzchnia() }}</td>
            </tr>
            <tr>
                <td>Liczba pokoi:</td>
                <td>{{ obiektynajmu.getLiczbaPokoi() }}</td>
            </tr>
            <tr>
                <td>Typ mieszkania:</td>
                <td>{{ obiektynajmu.getTypMieszkania() }}</td>
            </tr>
            <tr>
                <td>Numer pokoju:</td>
                <td>{{ obiektynajmu.getNrPokoju() }}</td>
            </tr>
                        <tr>
                <td>Numer mieszkania:</td>
                <td>{{ obiektynajmu.getNrMieszkania() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ obiektynajmu.getAdres() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak obiektów najmu do wyświetlenia</p>
    {% endif %}

    <h1>Zwierzęta</h1>

    {% if zwierzeta %}
        {% for zwierze in zwierzeta %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
                <th>Pole</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gatunek:</td>
                <td>{{ zwierze.getGatunek() }}</td>
            </tr>
            <tr>
                <td>Ilość:</td>
                <td>{{ zwierze.getIlosc() }}</td>
            </tr>
        </tbody>
        </table>
        {% endfor %}
    {% else %}
        <p>Brak zwierząt do wyświetlenia</p>
    {% endif %}
{% endblock %}
