{% extends 'base.html.twig' %}

{% block title %}Osoby{% endblock %}

{% block body %}
    <div class="cointainer">
        <div class="row">
            <div class="col">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible p-3 fade show" role="alert">
                        <h1></h1>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible p-3 fade show" role="alert">
                        <h1></h1>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <a href="/sbd-projekt/public/NowaOsoba" class="btn btn-primary btn-lg" role="button">Dodaj</a>
                <a href="/sbd-projekt/public" class="btn btn-primary btn-lg" role="button">Cofnij</a>

                {% if osoby %}
                    <table id="umowy" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Osoba</th>
                                <th>PESEL</th>
                                <th>Opcje</th>
                            </tr>
                        </thead>
                    <tbody>
                    {% for osoba in osoby %}
                        <tr>
                            <td>{{ osoba.getImie() ~ ' ' ~ osoba.getNazwisko() }}</td>
                            <td>{{ osoba.getPESEL() }}</td>
                            <td>
                                <a href="/sbd-projekt/public/WyswietlOsoby/{{ osoba.getPESEL() }}" class="btn btn-dark">Szczegóły</a>
                                <a href="/sbd-projekt/public/WyswietlOsoby/edit/{{ osoba.getPESEL() }}" class="btn btn-secondary">Edytuj</a>
                                <a href="/sbd-projekt/public/WyswietlOsoby/delete/{{ osoba.getPESEL() }}" class="btn btn-danger">Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <p>Brak osób do wyświetlenia</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}