{% extends 'base.html.twig' %}

{% block title %}Budynki{% endblock %}

{% block body %}
    <div class="cointainer">
        <div class="row">
            <div class="col">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible p-3 fade show" role="alert">
                        <h1></h1>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible p-3 fade show" role="alert">
                        <h1></h1>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <a href="/sbd-projekt/public/NowyBudynek" class="btn btn-primary btn-lg" role="button">Dodaj</a>
                <a href="/sbd-projekt/public" class="btn btn-primary btn-lg" role="button">Cofnij</a>

                {% if budynki %}
                    <table id="umowy" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Budynek</th>
                            <th>Adres</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budynek in budynki %}
                            <tr>
                                <td>{{ budynek.getTyp() }}</td>
                                <td>{{ budynek.getAdres() }}</td>
                                <td>
                                    <a href="/sbd-projekt/public/WyswietlBudynki/{{ budynek.getAdres() }}" class="btn btn-dark">Szczegóły</a>
                                    <a href="/sbd-projekt/public/WyswietlBudynki/delete/{{ budynek.getAdres() }}" class="btn btn-danger">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <p>Brak budynków do wyświetlenia</p>
                {% endif %}
           </div>
        </div>
    </div>
{% endblock %}