{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Obiekt najmu</h1>

    {% if obiektynajmu %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rodzaj obiektu:</td>
                <td>{{ obiektynajmu.getRodzajObiektu() }}</td>
            </tr>
            <tr>
                <td>Powierzchnia:</td>
                <td>{{ obiektynajmu.getPowierzchnia() }}</td>
            </tr>
            <tr>
                <td>Liczba pokoi:</td>
                <td>{{ obiektynajmu.getLiczbaPokoi() }}</td>
            </tr>
            <tr>
                <td>Typ mieszkania:</td>
                <td>{{ obiektynajmu.getTypMieszkania() }}</td>
            </tr>
            <tr>
                <td>Numer pokoju:</td>
                <td>{{ obiektynajmu.getNrPokoju() }}</td>
            </tr>
                        <tr>
                <td>Numer mieszkania:</td>
                <td>{{ obiektynajmu.getNrMieszkania() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ obiektynajmu.getAdres() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak obiektów najmu do wyświetlenia</p>
    {% endif %}
    
    <h1>Budynek</h1>

    {% if budynek %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adres:</td>
                <td>{{ budynek.getAdres() }}</td>
            </tr>
            <tr>
                <td>Typ budynku:</td>
                <td>{{ budynek.getTyp() }}</td>
            </tr>
            <tr>
                <td>Nazwa spółdzielni:</td>
                <td>{{ budynek.getNazwa() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak budynków do wyświetlenia</p>
    {% endif %}
    
    <h1>Spółdzielnia</h1>

    {% if spoldzielnie %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nazwa:</td>
                <td>{{ spoldzielnie.getNazwa() }}</td>
            </tr>
            <tr>
                <td>Adres:</td>
                <td>{{ spoldzielnie.getAdres() }}</td>
            </tr>
            <tr>
                <td>Numer telefonu:</td>
                <td>{{ spoldzielnie.getNrTelefonu() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak spółdzielni do wyświetlenia</p>
    {% endif %}

    <h1>Umowa</h1>

    {% if umowy %}
        <table id="umowa" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Numer umowy:</td>
                <td>{{ umowy.getNrumowy() }}</td>
            </tr>
            <tr>
                <td>Wynajem od:</td>
                <td>{{ umowy.getWynajemod().format('d/m/y') }}</td>
            </tr>
            <tr>
                <td>Wynajem do:</td>
                <td>{{ umowy.getWynajemdo().format('d/m/y') }}</td>
            </tr>
            <tr>
                <td>Data zawrcia umowy:</td>
                <td>{{ umowy.getDatazawarciaumowy().format('d/m/y') }}</td>
            </tr>
            <tr>
                <td>Rodzaj umowy:</td>
                <td>{{ umowy.getRodzajumowy() }}</td>
            </tr>
        </tbody>
        </table>
    {% else %}
        <p>Brak umów do wyświetlenia</p>
    {% endif %}

    <h1>Wyposażenie</h1>

    {% if wyposazenia %}
    {% set i = 1 %}
        {% for wyposazenie in wyposazenia %}
        <table id="lokator" class="table table-striped">
        <thead>
            <tr>
                <th>Wyposazenie {{ i }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nazwa:</td>
                <td>{{ wyposazenie.getNazwa() }}</td>
            </tr>
            <tr>
                <td>Ilość:</td>
                <td>{{ wyposazenie.getIlosc() }}</td>
            </tr>
        </tbody>
        </table>
        {% set i = i + 1 %}
        {% endfor %}
    {% else %}
        <p>Brak wyposażenia do wyświetlenia</p>
    {% endif %}
{% endblock %}