{% extends 'base.html.twig' %}

{% block title %}Spółdzielnie{% endblock %}

{% block body %}
    <div class="cointainer">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible p-3 fade show" role="alert">
                        <h1></h1>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible p-3 fade show" role="alert">
                        <h1></h1>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
  </div>

   <div class="container">
        <div class="row">
            <div class="col">

                {{ form_start(form) }}
                {{ form_widget(form.Answer) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>

<div class="container">
<h1></h1>
                <a href="/sbd-projekt/public/NowaSpoldzielnia" class="btn btn-primary btn-lg" role="button">Dodaj</a>
                <a href="javascript:history.back()" class="btn btn-primary btn-lg">Cofnij</a>

                {% if spoldzielnie %}
                    <table id="umowy" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Spółdzielnie</th>
                            <th>Adres</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for spoldzielnia in spoldzielnie %}
                        <tr>
                            <td>{{ spoldzielnia.nazwa }}</td>
                            <td>{{ spoldzielnia.adres }}</td>
                            <td>
                                <a href="/sbd-projekt/public/WyswietlSpoldzielnie/{{ spoldzielnia.nazwa }}" class="btn btn-dark">Szczegóły</a>
                                <a href="/sbd-projekt/public/WyswietlSpoldzielnie/edit/{{ spoldzielnia.nazwa }}" class="btn btn-secondary">Edytuj</a>
                                <a href="/sbd-projekt/public/WyswietlSpoldzielnie/delete/{{ spoldzielnia.nazwa }}" class="btn btn-danger">Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    <p>Brak spółdzielni do wyświetlenia</p>
                {% endif %}
            </div>
{% endblock %}